<div class="vlr-flags__images-container">
    <div class="vlr-flags__initial">
        {{#initialItems}}
            <div class="flag {{code}}" title="{{fullName}}"></div>
        {{/initialItems}}
    </div>

    <div class="vlr-flags__rest">
        {{#restItems}}
            <div class="flag {{code}}" title="{{fullName}}"></div>
        {{/restItems}}
    </div>    
</div>

<div class="vlr-flags__toggle-container">
    <a class="vlr-flags__toggle" href="#">
    	<span class="vlr-flags__toggle-all-label">Show all</span>
    	<span class="vlr-flags__toggle-less-label">Show less</span>
    </a>
</div>