<div class="vlr-flags__initial">
    {{#initialItems}}
        <img src="/programmes/valor/images/blank.png" class="flag {{code}}" title="{{fullName}}"/>
    {{/initialItems}}
</div>

<div class="vlr-flags__rest">
    {{#restItems}}
        <img src="/programmes/valor/images/blank.png" class="flag {{code}}" title="{{fullName}}"/>
    {{/restItems}}
</div>

<div class="vlr-flags__toggle-container">
    <a class="vlr-flags__toggle" href="#">
    	<span class="vlr-flags__toggle-all-label">Show all</span>
    	<span class="vlr-flags__toggle-less-label">Show less</span>
    </a>
</div>