<header class="efc-advanced-search__header">
	<a href="#" class="efc-advanced-search__clear">
		Clear filters
	</a>
	<h1 class="efc-advanced-search__title">Advanced Search</h1>
</header>
	
<section id="efc-country" class="efc-advanced-search__section">
	<label class="efc-advanced-search__section-label">Country</label>
</section>	

<section id="efc-activity" class="efc-advanced-search__section">
	<label class="efc-advanced-search__section-label">Activity</label>
</section>	

<section id="efc-subactivity" class="efc-advanced-search__section">
	<label class="efc-advanced-search__section-label">Sub-Activity</label>
</section>	

<section id="efc-organisation-type" class="efc-advanced-search__section">
	<label class="efc-advanced-search__section-label">Type of Organisation</label>
</section>	
