<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>MUI Components Playground</title>
	<link rel="stylesheet" type="text/css" href="../../../assets/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles.playground.css">
</head>

<body>
	<header class="demo-header">
		<h1 class="demo-header__title">MUI Components playground</h1>
	</header>

	<!-- Components -->

	<!-- Multiselect -->
	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections</p>
		<p class="demo__description">Multi purpose replacement for dropdowns with many selections possible.</p>
		<div class="demo__multiselect--multi"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections</p>
		<p class="demo__description">Multi purpose replacement for dropdowns with maximum n selections possible.</p>
		<div class="demo__multiselect--multi-max-selection-length"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Single selections</p>
		<p class="demo__description">Multi purpose replacement for dropdowns with one selection possible.</p>
		<div class="demo__multiselect--single"></div>
	</div>

	<!--  -->

	<script data-main="./components.main" src="../../../lib/requirejs/require.min.js"></script>
</body>

</html>