<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>MUI Components Playground</title>
	<link rel="stylesheet" type="text/css" href="../../assets/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles.playground.css">
</head>

<body>
	<header class="demo-header">
		<h1 class="demo-header__title">MUI Components playground</h1>
	</header>

	<!-- Components -->

	<!-- Multiselect -->
	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-multi.demo.js</p>
		<p class="demo__description">Multi purpose replacement for dropdowns with many selections possible.</p>
		<div class="demo__multiselect--multi"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections with maximum selection length</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-multi-max-selection-length.demo.js</p>		
		<p class="demo__description">Multi purpose replacement for dropdowns with maximum n selections possible.</p>
		<div class="demo__multiselect--multi-max-selection-length"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Single selections</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-single.demo.js</p>		
		<p class="demo__description">Multi purpose replacement for dropdowns with one selection possible.</p>
		<div class="demo__multiselect--single"></div>
	</div>

	<!-- Project Item -->

	<div class="demo">
		<p class="demo__label">Project Item</p>
		<p class="demo__location">spa\playgrounds\components\shared\project-item\projectItem.demo.js</p>		
		<p class="demo__description">Replacement for one row columnless project details</p>
		<div class="demo__project-item"></div>
	</div>

	<!-- Tab Switcher -->

	<div class="demo">
		<p class="demo__label">Tab switcher</p>
		<p class="demo__location">spa\playgrounds\components\shared\tab-switcher\tabSwitcher.demo.js</p>		
		<p class="demo__description">Tabs with possibility to show/hide its tab contents</p>
		<div class="demo__tab-switcher"></div>
		<div class="tab1">Tab 1 contents</div>
		<div class="tab2" style="display: none">Tab 2 contents</div>
	</div>

	<!-- Actions Toolbar -->

	<div class="demo">
		<p class="demo__label">Actions Toolbar</p>
		<p class="demo__location">spa\playgrounds\components\shared\actions-toolbar\actionsToolbar.demo.js</p>		
		<p class="demo__description">Toolbar with buttons for performing actions</p>
		<div class="demo__actions-toolbar"></div>
	</div>

	<!-- Flags -->

	<div class="demo">
		<p class="demo__label">Flags</p>
		<p class="demo__location">spa\playgrounds\components\shared\flags\flags.demo.js</p>		
		<p class="demo__description">Showing flags icons with show more/less buttons if more than max flags allowed</p>
		<div class="demo__flags"></div>
	</div>

	<!-- Search Box -->

	<div class="demo">
		<p class="demo__label">Search Box</p>
		<p class="demo__location">spa\playgrounds\components\shared\search-box\searchBox.demo.js</p>		
		<p class="demo__description">Allows to perform search by keyword and has UI for showing advanced search criteria. Warning: Advanced search is not part of this component.</p>
		<div class="demo__search-box"></div>
	</div>

	<!-- Search -->

	<div class="demo">
		<p class="demo__label">Search</p>
		<p class="demo__location">spa\playgrounds\components\shared\search\search.demo.js</p>		
		<p class="demo__description">
			Uses the SearchBox component and custom AdvancedSearch component provided by user
		</p>
		<p class="demo__description">
			Allows to combine SearchBox component with AdvancedSearch of choice component
		</p>
		<div class="demo__search"></div>
	</div>

	<!-- Pager -->

	<div class="demo">
		<p class="demo__label">Pager</p>
		<p class="demo__location">spa\playgrounds\components\shared\pager\pager.demo.js</p>		
		<p class="demo__description">Provides advanced paging features</p>
		<div class="demo__pager"></div>
	</div>

	<!-- Page Stats -->

	<div class="demo">
		<p class="demo__label">Page Stats</p>
		<p class="demo__location">spa\playgrounds\components\shared\page-stats\pageStats.demo.js</p>		
		<p class="demo__description">Provides stats for paged results</p>
		<div class="demo__page-stats"></div>
	</div>

	<!-- Searchable List -->

	<div class="demo">
		<p class="demo__label">Searchable List</p>
		<p class="demo__location">spa\playgrounds\components\shared\searchable-list\searchableList.demo.js</p>		
		<p class="demo__description">
			Uses Pager component and PageStats component.
		</p>
		<p class="demo__description">
			Provides way to do pageable and server-side searchable lists. Pass searchable list component to tell what is the template to render. Provide search service to tell how to query server. Rest will be done for the user including paging, page stats, rendering the rows etc.
		</p>
		<div class="demo__searchable-list"></div>
	</div>

	<!-- Simple Map -->

	<div class="demo">
		<p class="demo__label">Simple Map</p>
		<p class="demo__location">spa\playgrounds\components\shared\simple-map\simpleMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers on map with client side clustering</p>
		<div class="demo__simple-map"></div>
	</div>

	<!-- Extended Map -->

	<div class="demo">
		<p class="demo__label">Extended Map</p>
		<p class="demo__location">spa\playgrounds\components\shared\simple-map\extendedMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers on map with server side clustering</p>
		<div class="demo__extended-map"></div>
	</div>

	<!-- Partners Map -->

	<div class="demo">
		<p class="demo__label">Partners Map</p>
		<p class="demo__location">spa\playgrounds\components\shared\partners-map\partnersMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers for partners and coordinator, where coordinator has different color than partners and it's never clustered with partners.</p>
		<div class="demo__partners-map"></div>
	</div>

	<!-- Marker Popup -->

	<div class="demo">
		<p class="demo__label">Marker Popup</p>
		<p class="demo__location">spa\playgrounds\components\shared\marker-popup\markerPopup.demo.js</p>		
		<p class="demo__description">Provides UI for displaying marker popup for project, organization for different programmes</p>
		<div class="demo__marker-popup"></div>
	</div>

	<script data-main="./components.main" src="../../lib/requirejs/require.min.js"></script>
</body>

</html>