<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>MUI Components Playground</title>
	<link rel="stylesheet" type="text/css" href="../../assets/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles.playground.css">
</head>

<body>
	<header class="demo-header">
		<h1 class="demo-header__title">Shared Components</h1>
	</header>

	<!-- Components -->

	<!-- Multiselect -->
	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Multiselect">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-multi.demo.js</p>
		<p class="demo__description">Multi purpose replacement for dropdowns with many selections possible.</p>
		<div class="demo__multiselect--multi"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Multiple selections with maximum selection length</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Multiselect">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-multi-max-selection-length.demo.js</p>		
		<p class="demo__description">Multi purpose replacement for dropdowns with maximum n selections possible.</p>
		<div class="demo__multiselect--multi-max-selection-length"></div>
	</div>

	<div class="demo">
		<p class="demo__label">Multiselect - Single selections</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Multiselect">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\multiselect\multiselect-single.demo.js</p>		
		<p class="demo__description">Multi purpose replacement for dropdowns with one selection possible.</p>
		<div class="demo__multiselect--single"></div>
	</div>

	<!-- Project Item -->

	<div class="demo">
		<p class="demo__label">Project Item</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Project+Item">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\project-item\projectItem.demo.js</p>		
		<p class="demo__description">Replacement for one row columnless project details</p>
		<div class="demo__project-item"></div>
	</div>

	<!-- Tab Switcher -->

	<div class="demo">
		<p class="demo__label">Tab switcher</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Tab+Switcher">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\tab-switcher\tabSwitcher.demo.js</p>		
		<p class="demo__description">Tabs with possibility to show/hide its tab contents</p>
		<div class="demo__tab-switcher"></div>
		<div class="tab1">Tab 1 contents</div>
		<div class="tab2" style="display: none">Tab 2 contents</div>
	</div>

	<!-- Actions Toolbar -->

	<div class="demo">
		<p class="demo__label">Actions Toolbar</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Actions+Toolbar">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\actions-toolbar\actionsToolbar.demo.js</p>		
		<p class="demo__description">Toolbar with buttons for performing actions</p>
		<div class="demo__actions-toolbar"></div>
	</div>

	<!-- Flags -->

	<div class="demo">
		<p class="demo__label">Flags</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Flags">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\flags\flags.demo.js</p>		
		<p class="demo__description">Showing flags icons with show more/less buttons if more than max flags allowed</p>
		<div class="demo__flags"></div>
	</div>

	<!-- Search Box -->

	<div class="demo">
		<p class="demo__label">Search Box</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Search+Box">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\search-box\searchBox.demo.js</p>		
		<p class="demo__description">Allows to perform search by keyword and has UI for showing advanced search criteria. Warning: Advanced search is not part of this component.</p>
		<div class="demo__search-box"></div>
	</div>

	<!-- Search -->

	<div class="demo">
		<p class="demo__label">Search</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Search">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\search\search.demo.js</p>		
		<p class="demo__description">
			Uses the SearchBox component and custom AdvancedSearch component provided by user
		</p>
		<p class="demo__description">
			Allows to combine SearchBox component with AdvancedSearch of choice component
		</p>
		<div class="demo__search"></div>
	</div>

	<!-- Pager -->

	<div class="demo">
		<p class="demo__label">Pager</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Pager">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\pager\pager.demo.js</p>		
		<p class="demo__description">Provides advanced paging features</p>
		<div class="demo__pager"></div>
	</div>

	<!-- Page Stats -->

	<div class="demo">
		<p class="demo__label">Page Stats</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Page+Stats">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\page-stats\pageStats.demo.js</p>		
		<p class="demo__description">Provides stats for paged results</p>
		<div class="demo__page-stats"></div>
	</div>

	<!-- Searchable List -->

	<div class="demo">
		<p class="demo__label">Searchable List</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Searchable+List">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\searchable-list\searchableList.demo.js</p>		
		<p class="demo__description">
			Depends on Pager component and PageStats component.
		</p>
		<p class="demo__description">
			Provides way to do pageable and server-side searchable lists. Pass searchable list component to tell what is the template to render. Provide search service to tell how to query server. Rest will be done for the user including paging, page stats, rendering the rows etc.
		</p>
		<div class="demo__searchable-list"></div>
	</div>

	<!-- Simple Map -->

	<div class="demo">
		<p class="demo__label">Simple Map</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/pages/viewpage.action?pageId=592153793">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\simple-map\simpleMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers on map with client side clustering</p>
		<div class="demo__simple-map"></div>
	</div>

	<!-- Extended Map -->

	<div class="demo">
		<p class="demo__label">Extended Map</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/pages/viewpage.action?pageId=592153766">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\simple-map\extendedMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers on map with server side clustering</p>
		<div class="demo__extended-map"></div>
	</div>

	<!-- Partners Map -->

	<div class="demo">
		<p class="demo__label">Partners Map</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Partners+Map">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\partners-map\partnersMap.demo.js</p>		
		<p class="demo__description">Provides way to show markers for partners and coordinator, where coordinator has different color than partners and it's never clustered with partners.</p>
		<div class="demo__partners-map"></div>
	</div>

	<!-- Marker Popup -->

	<div class="demo">
		<p class="demo__label">Marker Popup</p>
		<p class="demo__documentation">
			<a target="_blank" href="https://webgate.ec.europa.eu/CITnet/confluence/display/VALOR/Marker+Popup">Read documentation</a>
		</p>
		<p class="demo__location">spa\playgrounds\components\shared\marker-popup\markerPopup.demo.js</p>		
		<p class="demo__description">Provides UI for displaying marker popup for project, organization for different programmes</p>
		<div class="demo__marker-popup"></div>
	</div>

	<header class="demo-header">
		<h1 class="demo-header__title">Europe for Citizens Components</h1>
	</header>

	<!-- EfC Advanced Search -->

	<div class="demo">
		<p class="demo__label">EfC Advanced SEarch</p>
		<p class="demo__location">spa\playgrounds\components\efc\advanced-search\advancedSearch.demo.js</p>		
		<p class="demo__description">Provides advanced search capabilities for Europe for Citizens</p>
		<div class="demo__efc-advanced-search"></div>
	</div>

	<!-- EfC Results List -->

	<div class="demo">
		<p class="demo__label">EfC Results List</p>
		<p class="demo__location">spa\playgrounds\components\efc\results-list\resultsList.demo.js</p>		
		<p class="demo__description">Provides list with columns needed to display projects found on landing page. Does not query server, this component only draws rows according to data passed to its update method</p>
		<div class="demo__efc-results-list"></div>
	</div>

	<!-- EfC Searchable Results List -->

	<div class="demo">
		<p class="demo__label">EfC Searchable Results List</p>
		<p class="demo__location">spa\playgrounds\components\efc\searchable-results-list\searchableResultsList.demo.js</p>		
		<p class="demo__description">Depends on EfC Results List, SearchableListComponent</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides EfC Results List filled with data coming from server paged with Pager Component (has to be more than 10 results) and with Result Stats Component</p>
		<div class="demo__efc-searchable-results-list"></div>
	</div>

	<!-- EfC Results Map -->

	<div class="demo">
		<p class="demo__label">EfC Results Map</p>
		<p class="demo__location">spa\playgrounds\components\efc\results-map\resultsMap.demo.js</p>		
				<p class="demo__description">Depends on Simple Map</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides EfC Results Map filled with data coming from server after search was made</p>
		<div class="demo__efc-results-map"></div>
	</div>

	<!-- EfC Partners Map -->

	<div class="demo">
		<p class="demo__label">EfC Partners Map</p>
		<p class="demo__location">spa\playgrounds\components\efc\partners-map\partnersMap.demo.js</p>		
		<p class="demo__description">Depends on Simple Map</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides EfC Partners Map filled with data coming from server after search was made</p>
		<div class="efc-project-partners-container"></div>
	</div>

	<!-- EfC Landing Page Layout -->

	<style>
		.app {
			margin-top: 90px;
		}

		/* Search Container */
		.efc-search-container {
			margin-bottom: 30px;
			top: 0;
		}
	</style>

	<div class="demo">
		<p class="demo__label">EfC Landing Page Layout</p>
		<p class="demo__location">spa\playgrounds\components\efc\landing-page-layout\landingPageLayout.demo.js</p>		
		<p class="demo__description">Depends on many other components</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides full EfC Landing Page Experience</p>

		<div class="app">
	    	<div class="efc-search-container"></div>
			<div class="efc-results-container"></div>
		</div>
	</div>
	
	<header class="demo-header">
		<h1 class="demo-header__title">Creative Europe Components</h1>
	</header>

	<!-- CE Advanced Search -->

	<div class="demo">
		<p class="demo__label">CE Advanced SEarch</p>
		<p class="demo__location">spa\playgrounds\components\ce\advanced-search\advancedSearch.demo.js</p>		
		<p class="demo__description">Provides advanced search capabilities for Creative Europe</p>
		<div class="demo__ce-advanced-search"></div>
	</div>

	<!-- CE Results List -->

	<div class="demo">
		<p class="demo__label">CE Results List</p>
		<p class="demo__location">spa\playgrounds\components\ce\results-list\resultsList.demo.js</p>		
		<p class="demo__description">Provides list with columns needed to display projects found on landing page. Does not query server, this component only draws rows according to data passed to its update method</p>
		<div class="demo__ce-results-list"></div>
	</div>

	<!-- CE Result Stats -->

	<div class="demo">
		<p class="demo__label">CE Result Stats</p>
		<p class="demo__location">spa\playgrounds\components\ce\result-stats\resultStats.demo.js</p>		
		<p class="demo__description">Provides information about how many results were hit, the keyword for found results and export to xls link button</p>
		<div class="demo__ce-result-stats"></div>
	</div>

	<!-- CE Searchable Results List -->

	<div class="demo">
		<p class="demo__label">CE Searchable Results List</p>
		<p class="demo__location">spa\playgrounds\components\ce\searchable-results-list\searchableResultsList.demo.js</p>		
		<p class="demo__description">Depends on CE Results List, SearchableListComponent</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides CE Results List filled with data coming from server paged with Pager Component (has to be more than 10 results) and with Result Stats Component</p>
		<div class="demo__ce-searchable-results-list"></div>
	</div>

	<!-- CE Results Map -->

	<div class="demo">
		<p class="demo__label">CE Results Map</p>
		<p class="demo__location">spa\playgrounds\components\ce\results-map\resultsMap.demo.js</p>		
				<p class="demo__description">Depends on Simple Map</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides CE Results Map filled with data coming from server after search was made</p>
		<div class="demo__ce-results-map"></div>
	</div>

	<!-- CE Landing Page Layout -->

	<style>
		.app {
			margin-top: 90px;
		}

		/* Search Container */
		.ce-search-container {
			margin-bottom: 30px;
			top: 0;
		}
	</style>

	<div class="demo">
		<p class="demo__label">CE Landing Page Layout</p>
		<p class="demo__location">spa\playgrounds\components\ce\landing-page-layout\landingPageLayout.demo.js</p>		
		<p class="demo__description">Depends on many other components</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides full CE Landing Page Experience</p>

		<div class="app">
	    <div class="ce-search-container"></div>
	    <div class="ce-result-stats-container"></div>
	    <div class="ce-tabbed-results-container"></div>
		</div>
	</div>

	<header class="demo-header">
		<h1 class="demo-header__title">Erasmus Plus Components</h1>
	</header>

	<!-- Eplus Advanced Search -->

	<div class="demo">
		<p class="demo__label">Eplus Advanced SEarch</p>
		<p class="demo__location">spa\playgrounds\components\eplus\advanced-search\advancedSearch.demo.js</p>		
		<p class="demo__description">Provides advanced search capabilities for Erasmus Plus</p>
		<div class="demo__eplus-advanced-search"></div>
	</div>

	<!-- Eplus Results List -->

	<div class="demo">
		<p class="demo__label">Eplus Results List</p>
		<p class="demo__location">spa\playgrounds\components\eplus\results-list\resultsList.demo.js</p>		
		<p class="demo__description">Provides list with columns needed to display projects found on landing page. Does not query server, this component only draws rows according to data passed to its update method</p>
		<div class="demo__eplus-results-list"></div>
	</div>

	<!-- Eplus Searchable Results List -->

	<div class="demo">
		<p class="demo__label">Eplus Searchable Results List</p>
		<p class="demo__location">spa\playgrounds\components\eplus\searchable-results-list\searchableResultsList.demo.js</p>		
		<p class="demo__description">Depends on Eplus Results List, SearchableListComponent</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides Eplus Results List filled with data coming from server paged with Pager Component (has to be more than 10 results) and with Result Stats Component</p>
		<div class="demo__eplus-searchable-results-list"></div>
	</div>

	<!-- Eplus Results Map -->

	<div class="demo">
		<p class="demo__label">Eplus Results Map</p>
		<p class="demo__location">spa\playgrounds\components\eplus\results-map\resultsMap.demo.js</p>		
				<p class="demo__description">Depends on Simple Map</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides Eplus Results Map filled with data coming from server after search was made</p>
		<div class="demo__eplus-results-map"></div>
	</div>

	<!-- Eplus Landing Page Layout -->

	<style>
		.app {
			margin-top: 90px;
		}

		/* Search Container */
		.eplus-search-container {
			margin-bottom: 30px;
			top: 0;
		}
	</style>

	<div class="demo">
		<p class="demo__label">Eplus Landing Page Layout</p>
		<p class="demo__location">spa\playgrounds\components\eplus\landing-page-layout\landingPageLayout.demo.js</p>		
		<p class="demo__description">Depends on many other components</p>
		<p class="demo__description"><strong>Does real query to server with some criteria set, run this example with Valor running</strong></p>
		<p class="demo__description">Provides full Eplus Landing Page Experience</p>

		<div class="app">
			<div class="eplus-search-container"></div>
			<div class="eplus-result-stats-container"></div>
			<div class="eplus-tabbed-results-container"></div>
		</div>
	</div>

	<script data-main="./components.main" src="../../lib/requirejs/require.min.js"></script>
</body>

</html>