<div class="vlr-project-item__section">
	<a href="" class="vlr-project-item__title-link">{{title}}</a>
</div>

<div class="vlr-project-item__section">
	<span class="vlr-project-item__badge vlr-project-item__badge--start-year">
		<span>{{startYear}}</span>
	</span>

	{{#successStory}}
		<span class="vlr-project-item__badge vlr-project-item__badge--success-story">
			Success story
		</span>
	{{/successStory}}

	{{#goodPractice}}
		<span class="vlr-project-item__badge vlr-project-item__badge--good-practice">
			Good practice
		</span>
	{{/goodPractice}}
</div>

<div class="vlr-project-item__section">
	<span class="vlr-project-item__description">{{description}}</span>
</div>
