	<div class="efc-map__items-count-container">
		Found <span class="efc-map__items-count">0</span> item(s)
	</div>

	<div class="efc-map__map-container"></div>

	<div class="efc-map__legal-note">
		The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of the European Union concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries. Kosovo*: This designation is without prejudice to positions on status, and is in line with UNSCR 1244/1999 and the ICJ Opinion on the Kosovo declaration of independence. Palestine*: This designation shall not be construed as recognition of a State of Palestine and is without prejudice to the individual positions of the Member States on this issue.
	</div> 