<div class="vlr-advanced-search__header">
	<div class="vlr-advanced-search__header-toolbar">
		<a href="#" class="vlr-advanced-search__clear">Clear filters</a>
	</div>
	<h1 class="vlr-advanced-search__header-title">Advanced Search</h1>
</div>
	
<div id="efc-year" class="vlr-advanced-search__section">
	<label class="vlr-advanced-search__section-label">Year (Call)</label>
</div>

<div id="efc-country" class="vlr-advanced-search__section">
	<label class="vlr-advanced-search__section-label">Country</label>
</div>	

<div id="efc-activity" class="vlr-advanced-search__section">
	<label class="vlr-advanced-search__section-label">Activity</label>
</div>	

<div id="efc-subactivity" class="vlr-advanced-search__section">
	<label class="vlr-advanced-search__section-label">Sub-Activity</label>
</div>	

<div id="efc-organisation-type" class="vlr-advanced-search__section">
	<label class="vlr-advanced-search__section-label">Type of Organisation</label>
</div>	
