vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Apr 2015 07:08:45 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|1102 239
vti_usagebyweek:UX|528 357 4 433 17
vti_usagebyday:UX|0 5 0 90 249 184
vti_usagelastupdated:TX|25 Apr 2015 21:59:59 -0000
vti_usagetotalhits:IX|1341
