vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Apr 2015 14:13:11 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|1127 243 311 264
vti_usagebyweek:UX|541 367 6 435 17
vti_usagebyday:UX|0 7 0 98 252 184
vti_usagelastupdated:TX|25 Apr 2015 21:59:59 -0000
vti_usagetotalhits:IX|1945
