vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Apr 2015 12:42:39 -0000
vti_extenderversion:SR|5.0.2.6790
vti_usagebymonth:UX|1094 238
vti_usagebyweek:UX|521 356 5 432 18
vti_usagebyday:UX|0 4 0 90 247 180
vti_usagelastupdated:TX|25 Apr 2015 21:59:59 -0000
vti_usagetotalhits:IX|1332
