<div class="efc-marker-bubble__field">
	<div class="efc-marker-bubble__title">{{title}}</div>
</div>

<div class="efc-marker-bubble__field">
	<label class="efc-marker-bubble__label">
		Activity:
	</label>
	<span class="efc-marker-bubble__value">{{activity}}</span>
</div>

<div class="efc-marker-bubble__field">
	<label class="efc-marker-bubble__label">
		Coordinator:
	</label>
	<span class="efc-marker-bubble__value">{{coordinator}}</span>
</div>

<div class="efc-marker-bubble__field">
	<div class="efc-marker-bubble__description">{{summary}}</div>
</div>

<div class="efc-marker-bubble__link">
	<a href="/programmes/europe-for-citizens/projects/efc-project-details-page/?nodeRef={{id}}" class="efc-marker-bubble__more-link" href="#" target="_blank">Show project card</a>
</div>