/* CE Results Map */
.ce-results-map {
	display: none;
}

/* CE Results Map Search Explanation */
.ce-results-map__map-country-search-explanation {
  padding: 10px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  background-color: #131C2A;
}