.prunecluster {
	color: #fff;
	font-weight: bold;
}

.prunecluster-small {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .5);
}

.prunecluster-small div {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .8);
}

.prunecluster-medium {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .5);
}

.prunecluster-medium div {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .8);
}

.prunecluster-large {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .5);
}

.prunecluster-large div {
	background-color: #f05a22;
	background-color: rgba(240, 90, 34, .8);
}