/* Banner */
.efc-banner {
    width: 984px;
    height: 280px;
    margin: 0 -6px 0 -15px;
    background: url(../images/efc_slidea.jpg);
}

/* Results */
.efc-results-container {
    margin: 0 -9px 0 -15px;
}

/* Searchable Results List */
.efc-searchable-results-list {
    padding: 10px;
}

/* Results - Table */

.efc-results-list table {
    border-collapse: collapse;
    width: 100%
}

.efc-results-list th {
    font-weight: bold;
}

.efc-results-list td, .efc-results-table th {
    border: 1px solid #ccc;
    padding: 5px;
}

.efc-results-list table tr:nth-child(even) {
    background: #efefef
}

/* Results - Map */
.efc-results-map {
    padding: 0;
}

/* Pager */
.efc-pager {
    margin-top: 10px;
}
.efc-pager a {
    border: 1px solid grey;
    padding: 3px;
    margin-right: 2px;
    margin-right: 2px;
}

.efc-pager .efc-pager-pages a.efc-selected {
    color: #ff0000;
}

/* Multiselect */
.efc-multiselect {

}

input.select2-search__field {
    width: 100% !important;
}

/* Search */
.efc-search-container {
    position: relative;
    clear: both;
    width: 550px;
    margin: 0 auto;
    top: 120px;
}

.efc-searchbox {
    box-sizing: border-box;
}

.efc-advanced-search {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 40px;
    width: 550px;
    padding: 10px;
    background-color: #eee;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.efc-advanced-search:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
    border-left: 10px solid transparent;
}

.efc-advanced-search > header {
    font-weight: bold;
    border-bottom: 1px solid rgb(170, 170, 170);
    color: rgb(102, 102, 102);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.efc-search-section {
    margin-bottom: 10px
}

.efc-search-section > label {
    color: #666;
}

/* Tabs */
.efc-tabs {
    padding: 0;
    margin: 0;
    background-color: #074a8b;
    border-top: 1px solid #4B8AC8;
    border-bottom: 1px solid #4B8AC8;
    border-left: 0;
    border-right: 0;
    font-size: 0;
}

.efc-tab {
    width: 50%;
    border: 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.efc-tab.efc-selected {
    background-color: #0762af;
}

.efc-tab:hover {
    background-color: #0774bb;
}

.efc-tab:last-child {
    border-left: 1px solid #4B8AC8;
}