/* Map */
.vlr-map {
  position: relative;
}

.vlr-map__map-container {
  height: 600px;
  background-color: #848484;
}

.vlr-map__legal-note {
    padding: 10px;
    font-size: 9px;
    background-color: #2A5077;
    color: #AEC6DA;
}

/* Map items count */
.vlr-map__items-count-container {
  display: none;
  position: absolute;
  top: 10px;
  background-color: #fff;
  z-index: 500;
  left: 0;
  right: 0;
  width: 120px;
  padding: 5px;
  margin: auto auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 9px;
}

/* Map Search Explanation */
.vlr-map__country-search-explanation {
  padding: 10px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  background-color: #131C2A;
}

.vlr-map__items-count {
  font-weight: bold;
}

/* Marker bubble */
.vlr-map-popup {
  width: 250px;
  color: #333;
  background-color: #fff;
}

.vlr-map-popup__title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.vlr-map-popup__badges {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #999;
}

.vlr-map-popup__description {
  color: #999;
}

.vlr-map-popup__field {
  margin-bottom: 5px;
}

.vlr-map-popup__link {
  margin-top: 10px;
  text-align: center;
}

.vlr-map-popup__label {
  color: #333;
  font-weight: bold;
}

.vlr-map-popup__org-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.vlr-map-popup__org-type-role {
  text-align: center;
  color: #999;
  margin-top: -5px;
  margin-bottom: 10px;
}

.vlr-map-popup__website-link-placeholder {
  color: #999;
}

/* Flags */
.vlr-flags__images-container:after {
  content:"";
  display:table;
  clear:both;
}

.vlr-flags__toggle-container {
  text-align: center;
}

.vlr-flags__toggle, a.vlr-flags__toggle:link {
  font-size: 11px;
  font-weight: normal;
  color: #666;
  text-decoration: underline;
}

.vlr-flags__toggle:focus {
  outline: none;
}

.vlr-flags--collapsed .vlr-flags__rest {
  display: none;
}

.vlr-flags__toggle-all-label {
  display: none;
}

.vlr-flags--collapsed .vlr-flags__toggle-all-label {
  display: block;
}

.vlr-flags--collapsed .vlr-flags__toggle-less-label {
  display: none;
}

.vlr-flags--short .vlr-flags__toggle-container {
  display: none;
}

/* Tabs */
.vlr-tabs {
    padding: 0;
    margin: 0;
    background-color: #274e85;
    border-top: 1px solid #5477A8;
    border-bottom: 1px solid #5477A8;
    border-left: 0;
    border-right: 0;
    font-size: 0;
    text-align: center;
}

.vlr-tabs__tab {
    border: 0;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 20px;
}

.vlr-tabs__tab--selected {
    background-color: #3D6D9D;
    font-weight: bold;
}

.vlr-tabs__tab--hidden {
  display: none;
}

.vlr-tabs__tab:hover {
    background-color: #2D5792;
}

.vlr-tabs__tab--selected:hover {
    background-color: #4275A8;
}

/* Pager */
.vlr-pager {
  font-size: 0;
  text-align: center;
}

.vlr-pager:after {
  content:"";
  display:table;
  clear:both;
}

.vlr-pager__pages-container {
  display: inline-block;
}

.vlr-pager__pages-container:after {
  content:"";
  display:table;
  clear:both;
}

.vlr-pager__page,
.vlr-pager__page:hover,
.vlr-pager__page:focus,
.vlr-pager__page:visited {
  box-sizing: border-box;
  float: left;
  display: block;
  min-width: 20px;
  text-align: center;
  padding: 8px 10px;
  margin-left: 2px;
  outline: none;
  background: #d7d7d7;
  text-decoration: none;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  line-height: 1;
  border: 1px solid rgb(201, 201, 201);
}

.vlr-pager__page--last {
  margin-right: 0
}

.vlr-pager__page--selected,
.vlr-pager__page--selected:hover,
.vlr-pager__page--selected:visited {
  background: #F05A22;
  color: #fff;
  font-weight: bold;
  border: 1px solid #C85429;
}

.vlr-pager__page--disabled,
.vlr-pager__page--disabled:hover,
.vlr-pager__page--disabled:focus,
.vlr-pager__page--disabled:visited {
  background: #eaeaea;
  color: #adadad;
  cursor: text;
}

/* Page stats */
.vlr-page-stats {
  background-color: #fafafa;
}

.vlr-page-stats__details {
  text-align: center;
  font-size: 11px;
  color: #727272;
  margin: 0;
  padding: 5px 0;
}

/* Search */
.vlr-search {
  position: relative;
  clear: both;
  max-width: 550px;
  min-width: 250px;
  margin: 0 auto;
}

/* Search Box */
.vlr-searchbox {
    border-radius: 3px;
    height: 40px;
    position: relative;
}

.vlr-searchbox__input-container {
    overflow: hidden;
}

.vlr-searchbox__buttons-container {
    width: 140px;
    float: right;
    font-size: 0;
}

.vlr-searchbox__input-container,
.vlr-searchbox__buttons-container {
    height: 100%;
}

.vlr-searchbox__input {
  width: 100%;
  font-size: 19px;
  padding: 0 15px;
  color: #777;
  border-radius: 3px 0 0 3px;
}

.vlr-searchbox__search-button {
  width: 100px;
  overflow: visible;
  color: #fff;
  background-color: #f05a22;
  font-size: 19px;
  position: relative;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  cursor: pointer;
}

.vlr-searchbox__input,
.vlr-searchbox__search-button,
.vlr-searchbox__more-button {
  height: 100%;
  border: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.vlr-searchbox__search-button:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -7px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #f05a22;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}

.vlr-searchbox__more-button {
  display: inline-block;
  width: 40px;
  background: #084886;
  position: relative;
  cursor: pointer;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  border-radius: 0 3px 3px 0;
  overflow: visible;

}

.csstransforms .vlr-searchbox__more-button--open {
  -webkit-transition: background-color .35s linear;
  -moz-transition: background-color .35s linear;
  -ms-transition: background-color .35s linear;
  -o-transition: background-color .35s linear;
  transition: background-color .35s linear;
}

.vlr-searchbox__bars_container {
  width: 16px;
  height: 14px;
  position: absolute;
  border: 0;
  margin: auto auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.vlr-searchbox__bar1,
.vlr-searchbox__bar2,
.vlr-searchbox__bar3 {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -ms-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.vlr-searchbox__bar1 {
  top: 0px;
}

.vlr-searchbox__bar2 {
  top: 5px;
}

.vlr-searchbox__bar3 {
  top: 10px;
}

.csstransforms .vlr-searchbox__more-button--open .vlr-searchbox__bar1 {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.csstransforms .vlr-searchbox__more-button--open .vlr-searchbox__bar2 {
  opacity: 0;
}

.csstransforms .vlr-searchbox__more-button--open .vlr-searchbox__bar3{
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.vlr-searchbox__tooltip {
  box-sizing: border-box;
  position: absolute;
  width: 140px;
  padding: 10px;
  right: 0;
  bottom: 100%;
  background-color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 12px;
  border-radius: 5px;
  color: #666;

  -webkit-transition: .3s ease-in-out; 
  -moz-transition: .3s ease-in-out; 
  -ms-transition: .3s ease-in-out; 
  -o-transition: .3s ease-in-out; 
  transition: .3s ease-in-out;
  transform: translate(0, 0);
}

.vlr-searchbox__tooltip:after {
    content: '';
    position: absolute;
    display: block;
    top: 99%;
    right: 13px;
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}

.vlr-searchbox__more-button--open .vlr-searchbox__tooltip {
  -webkit-transform: translate(0, 15px); 
  -moz-transform: translate(0, 15px); 
  -o-transform: translate(0, 15px); 
  -ms-transform: translate(0, 15px); 
  transform: translate(0, 15px);

  opacity: 0;
}

/* Advanced Search*/
.vlr-advanced-search {
    display: none;
    position: absolute;
    box-sizing: border-box;
    padding: 12px;
    max-width: 550px;
    min-width: 250px;
    width: 100%;
    top: 53px;
    background: #fff;
    font-family: sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .35);
    border-radius: 3px;
    z-index: 1001;
}

.vlr-advanced-search:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 99%;
    right: 11px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}

.vlr-advanced-search__header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.vlr-advanced-search__header:first-child {
    margin-top: 0;
}

.vlr-advanced-search__header-title {
    margin: 0;
    padding: 0;
    color: #888;
    font-size: 14px;
    font-weight: bold;
}

.vlr-advanced-search__header-toolbar {
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #666;
}

.vlr-advanced-search__header-toolbar input {
  vertical-align: middle;
}

.vlr-advanced-search__clear,
.vlr-advanced-search__clear:hover,
.vlr-advanced-search__clear:visited {
    float: right;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.vlr-advanced-search__section {
    margin-bottom: 5px;
}

.vlr-advanced-search__section:last-child {
    margin-bottom: 0;
}

.vlr-advanced-search__section-label {
    display: inline-block;
    margin-bottom: 3px;
    color: #888;
    font-size: 12px;
}

/* Project Item */
.vlr-project-item {
  background-color: #fff;
  padding: 10px;
}

.vlr-project-item__title-link,
.vlr-project-item__title-link:hover,
.vlr-project-item__title-link:focus,
.vlr-project-item__title-link:visited {
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.vlr-project-item__section {
  margin-bottom: 7px;
}

.vlr-project-item__section:after {
  content:"";
  display:table;
  clear:both;
}

.vlr-project-item__section:last-child {
  margin-bottom: 0;
}

.vlr-project-item__section--badges {
  margin-bottom: 3px;
}

.vlr-project-item__section--description {
  line-height: 1.2;
}

.vlr-project-item__badge {
  background-color: #444;
  margin-right: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding: 3px 5px;
  font-family: sans-serif;
  display: block;
  float: left;
}

.vlr-project-item__badge--success-story {
  background-color: #f05a22;
}

.vlr-project-item__badge--year {
  background-color: #999;
}

.vlr-project-item__description {
  color: #999;
  font-size: 12px;
  font-family: sans-serif;
}

/* Actions Toolbar */
.vlr-actions-toolbar {
  font-size: 11px;
  padding: 10px 0px;
  text-align: center;
  background-color: #131C2A;
}

a.vlr-actions-toolbar__export,
a.vlr-actions-toolbar__export:hover,
a.vlr-actions-toolbar__export:visited {
  color: #fff;
  background-image: url(../images/excel-icon.png);
  background-repeat: no-repeat;
  padding-left: 22px;
  background-position: left center;
}