<div class="vlr-pager__pages-container">
	<a href="#" class="vlr-pager__page vlr-pager__page--first {{#isFirstPage}}vlr-pager__page--disabled{{/isFirstPage}}">First</a>
	<a href="#" class="vlr-pager__page vlr-pager__page--previous {{#isFirstPage}}vlr-pager__page--disabled{{/isFirstPage}}">Previous</a>

	<span class="vlr-pager__pages"></span>

	<a href="#" class="vlr-pager__page vlr-pager__page--next {{#isLastPage}}vlr-pager__page--disabled{{/isLastPage}}">Next</a>
	<a href="#" class="vlr-pager__page vlr-pager__page--last {{#isLastPage}}vlr-pager__page--disabled{{/isLastPage}}">Last</a>
</div>
