.ce-search-container {
	position: absolute;
	top: 100%;
	margin-top: -40px;
	left: 0;
	right: 0;
}

.vlr-searchbox {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, .15);
}

.ce-results-container {
	max-width: 1230px;
	margin: 0 auto;
}

.ce-result-stats-container {
	margin-top: 30px;
}

.ce-tabs-container {
	margin-bottom: 30px;
}

.vlr-tabs {
	background-color: transparent;
	border-top: none;
	border-bottom: 3px solid #7C7C7C;
}

.vlr-tabs__tab {
	color: rgb(124, 124, 124);
	font-size: 23px;
	font-family: ec_square_sans_cond_promedium ,Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
	border-top: 3px solid #7C7C7C;
	border-left: 3px solid #7C7C7C;
	border-right: 3px solid #7C7C7C;
	border-radius: 0;
	position: relative;
	top: 8px;
	padding: 16px;
}

.vlr-tabs__tab--selected, 
.vlr-tabs__tab:hover,
.vlr-tabs__tab--selected:hover {
	background-color: transparent;
	color: rgb(89, 83, 153);
	font-weight: normal;
}

.vlr-tabs__tab--selected, 
.vlr-tabs__tab--selected:hover {
	background-color: #fff;
}

.vlr-searchbox__more-button {
	background-color: #ceb40a;
}

.vlr-searchbox__search-button {
	background-color: rgba(101, 80, 163, 0.97);
}

.vlr-searchbox__search-button:after {
	border-right: 7px solid rgba(101, 80, 163, 0.97);
}

.vlr-pager__pages-container {
    box-shadow: 0 2px 2px #eee;
		background: #ccc;
		background: -webkit-linear-gradient(#fff, #fafafa);
		background: -o-linear-gradient(#fff, #fafafa);
		background: -moz-linear-gradient(#fff, #fafafa);
		background: linear-gradient(#fff, #fafafa);
		border-top: 1px solid rgba(250, 250, 250, 1);
		border-bottom: 1px solid rgba(250, 250, 250, 1);
}

.vlr-pager__page, 
.vlr-pager__page:hover, 
.vlr-pager__page:focus, 
.vlr-pager__page:visited { 
	border-radius: 0;
	padding: 10px 14px;
	color: #e16453;
	font-family: ec_square_sans_cond_promedium ,Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
	font-size: 18px;
	font-weight: 300;
	background: none;
	border: none;
	border-right: 1px solid #efefef;
	border-left: 1px solid #fff;
}

.vlr-pager__page--selected, .vlr-pager__page--selected:hover, .vlr-pager__page--selected:visited { 
	color: rgba(102, 102, 102, 1);
}

.vlr-pager__page--disabled, .vlr-pager__page--disabled:hover, .vlr-pager__page--disabled:focus, .vlr-pager__page--disabled:visited {
  color: rgba(192, 192, 192, 1);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #6b56b3;
}

.ce-results-list__no-data {
	font-family: ec_square_sans_cond_promedium ,Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
	font-size: 24px;
	text-align: center;
	color: #433580;
}