<a href="#" class="efc-pager__page efc-pager__page--first {{#isFirstPage}}efc-pager__page--disabled{{/isFirstPage}}">First</a>
<a href="#" class="efc-pager__page efc-pager__page--previous {{#isFirstPage}}efc-pager__page--disabled{{/isFirstPage}}">Previous</a>

<span class="efc-pager__pages"></span>

<a href="#" class="efc-pager__page efc-pager__page--next {{#isLastPage}}efc-pager__page--disabled{{/isLastPage}}">Next</a>
<a href="#" class="efc-pager__page efc-pager__page--last {{#isLastPage}}efc-pager__page--disabled{{/isLastPage}}">Last</a>
