<div class="efc-searchbox__buttons-container">
	<button class="efc-searchbox__search-button">Search</button>
	<button class="efc-searchbox__more-button">
		<div class="efc-searchbox__bars_container">
			<span class="efc-searchbox__bar1"></span>
			<span class="efc-searchbox__bar2"></span>
			<span class="efc-searchbox__bar3"></span>
		</div>
	</button>
</div>

<div class="efc-searchbox__input-container">
	<input type="text" class="efc-searchbox__input" placeholder="Find..." value="{{keyword}}"/>
</div>