{{#title}}
	<div class="vlr-map-popup__field">
		<div class="vlr-map-popup__title">{{title}}</div>
	</div>
{{/title}}

{{#activity}}
	<div class="vlr-map-popup__field">
		<label class="vlr-map-popup__label">
			Activity:
		</label>
		<span class="vlr-map-popup__value">{{activity}}</span>
	</div>
{{/activity}}

{{#coordinator}}
	<div class="vlr-map-popup__field">
		<label class="vlr-map-popup__label">
			Coordinator:
		</label>
		<span class="vlr-map-popup__value">{{coordinator}}</span>
	</div>
{{/coordinator}}

{{#description}}
	<div class="vlr-map-popup__field">
		<div class="vlr-map-popup__description">{{description}}</div>
	</div>
{{/description}}

{{#id}}
	<div class="vlr-map-popup__link">
		<a href="/programmes/europe-for-citizens/projects/efc-project-details-page/?nodeRef={{id}}" class="vlr-map-popup__more-link" href="#" target="_blank">Show project card</a>
	</div>
{{/id}}