<div class="efc-map-popup__field">
	<div class="efc-map-popup__org-title">{{name}}</div>
</div>

<div class="efc-map-popup__field">
	<div class="efc-map-popup__org-type-role">
        {{type}}</br>
        {{role}}
    </div>
</div>

<div class="efc-map-popup__field">
	<label class="efc-map-popup__label">
		Address:
	</label>
	<span class="efc-map-popup__value">{{address}}</span>
</div>

<div class="efc-map-popup__field">
	<label class="efc-map-popup__label">
		Website:
	</label>

  {{#website}}
      <a href="{{website}}" class="efc-map-popup__website-link" href="#" target="_blank" rel="external">{{website}}</a>
  {{/website}}

  {{^website}}
      <span class="efc-map-popup__website-link-placeholder">(Website not provided)</span>
  {{/website}}
</div>